* { box-sizing: border-box }

body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

#app {
  overflow: hidden;
  margin-top: 15px;
}

header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 6vw;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

.head {
  text-align: center;
  position: relative;
  padding-top: 15px;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

.content {
  width: 100%;
}

.columns {
  overflow: hidden;
}

.column {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

*[contenteditable] {
  padding-left: 20px;
  padding-right: 20px;
}

*[data-edited] {
  background: lightsteelblue;
}

*[contenteditable="true"] {
  position: relative;
  background: white;
  border: none;
  outline: none;
  box-shadow: none;
}

*[contenteditable="true"]:after {
  content: 'Editing';
  box-sizing: border-box;
  background: white;
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
  font-family: Tahoma, Verdana, sans-serif;
  padding: 7px 20px;
  width: 100%;
}

.column .field-content {
  padding-top: 7px;
  padding-bottom: 5px;
}

.column .headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
}

.column .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.column .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.column .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.column .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}

.column .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl10 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10p  x 0 10px 0;
}

@media only all and (min-width: 600px) {
  .column { width: 50% }

  .column:nth-child(even) { border-left: 1px solid #2f2f2f }
}

@media only all and (min-width: 960px) {
  .column {
    width: 33%;
    border-left: 1px solid #2f2f2f;
  }

  .column:nth-child(3n+1) { border-left: none }
}

@media only all and (min-width: 1100px) {
  .column {
    width: 25%;
    border-left: 1px solid #2f2f2f;
  }

  .column:nth-child(3n+1) { border-left: 1px solid #2f2f2f }

  .column:nth-child(4n+1) { border-left: none }
}
